body{
    background-color: palevioletred;
}
.page-layout{
    display: flex;
    flex-wrap: wrap;
}
.title{
    background-color: tan;
    max-width: max-content;
    width: 360px;
    display: grid;
    justify-content: space-between;
    font-family: monospace, sans-serif;
    font-size: xxx-large;
    transition: width 1s linear;
}
.title-wrapper{
    display: flex;
    user-select: none;
}

h1.top-title{
    margin: 0 20px;
    overflow: hidden;
}
h1.bot-title{
    margin: 0 20px;
    overflow: hidden;
}
.title-list{
    background-color: navajowhite;
    width: 30%;
    max-width: 225px;
    overflow: hidden;
    height: 200px;
    transition: height 1s linear;
}
.title-link{
    font-family: monospace, sans-serif;
    font-size: large;
    text-shadow: grey ;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-link:hover{
    background:linear-gradient(.5turn , lightgray 0%,  grey 80%);
}
.closed{
    width: 1.6lh;
}
.tucked{
    height: 0;
}
.reveal {
    width: 20px;
    background-color: tan;
}
.content{
    display: flex;
    border: solid black 2px;
    flex-grow: 2;

    align-self: flex-start;
    margin:0 20px 0 20px;
}